<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>

</head>
<body>
    <h1>Edit the Following Course</h1>
    <form action="/editcourse/<%= course.id %>" method="post">
        <label for=""> Course</label>
       <input type="text" name="coursename" value="<%= course.coursename %>"><br>

        <label for=""> Reference</label>
        <input type="text" name="reference" value="<%= course.reference %>"><br>

        <label for=""> TEacher</label>
        <input type="text" name="teacher" value="<%= course.teacher %>"><br>

        <button  type="submit">Update courses</button>
    </form>
</body>
</html>