<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student list</title>
</head>
<body>
    <h1>List of all Students</h1>
    
    <ul>
        <% students.forEach(student => { %>
         <li>
            <%= student.firstname +" | "+student.lastname+" | "+student.email+" | "+ student.age  %>
            <a href="edit/<%= student.id %>">Update</a>
            <a href="deletestudent/<%= student.id %>">Delete</a>
         </li>
        <% }) %>

    </ul>
    <a href="/add">Add New Student</a>

   

    
</body>
</html>