<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo <Form></Form></title>
</head>
<body>
    <h1>Please enter a Course</h1>
    <!-- action tells us the endpoint to handle the submission  -->
    <form action="/submit" method="post">
        <!-- name passes information to varible to the webserver -->
         <label for="">Course</label>
        <input type="text" name="course">
        <br>
        <label for="">Email</label>
        <input type="text" name ="email">
         <button type="submit">Submit</button>
    </form>
    
</body>
</html>