<!-- 404 Page - Chris Ferguson - Node Assignment -->
<%- include('includes/header.ejs') %>

    <div class = "main">
    <p class="errorText">404</p>
    <p>Sorry! Page not found! </p>
    <br>
    
    </div>


    <%- include('includes/footer.ejs') %>
  