<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <link rel="icon" href="data:,">

</head>
<body> -->
    <%- include('includes/header.ejs') %>
    <!-- <header class="header" >
        <h1 class="headerText">Welcome to the page about Dungeons and Dragons</h1>
    </header> -->

    <div class = "main">
    <h2>This is some information about whatever</h2>
    </div>
    <br>
    <br>
    <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ol>


    
    <%- include('includes/footer.ejs') %>
    <!-- <div class = "footer">
        <footer>
            <a href="./about">About</a><a href="./contact">Contact</a><a href="/">Home</a>
        </footer>
    </div>
    
</body>
</html> -->