<!-- Contact Page - Chris Ferguson - Node Assignment -->

<%- include('includes/header.ejs') %>
   
<% if (errorMessages) { %>
    <ol>
        <% errorMessages.forEach(error => { %>
         <li><%= error %></li>
        <% }); %>
        </ol>

<% } else { %>

<% } %>

<div class="main">

 
    <div class="container">
<h1> Add your information here! </h1>
    <form class="contactForm" action="/add-user" method="post">
        <div class="inputDiv"><label for="firstname">First Name: </label>
            <input type="text" name="firstname" id="firstName">
        <br></div>
        <div class="inputDiv"><label for="lastName">Last Name: </label>
            <input type="text" name="lastname" id="lastname">
        <br></div>
        <div class="inputDiv"><label for="email">Email: </label>
            <input type="email" name="email" id="email" >
        <br></div>
        <div class="inputDiv"><label for="phone">Phone Number: </label>
            <input type="text" name="phone" id="phone">
        <br></div>
        <div class="inputDiv"><label for="city">City</label>
            <input type="text" name="city" id="city">
        <br></div>
        <div class="inputDiv"><label for="postal">Postal Code</label>
            <input type="text" name="postal" id="postal">
        <br></div>
        <div class="inputDiv"><label for="message">Message</label>
            <textarea type="text" name="message" id="message"></textarea>
        <br></div>
        <button class="inputDiv" type="submit">Add User</button>
        
    </form>
</div>
</div>
    <%- include('includes/footer.ejs') %>
  