<!-- Home Page - Chris Ferguson - Node Assignment -->

<%- include('includes/header.ejs') %>
  

    <div class = "main">
    <br>
        <h2>This is my homepage.Here you could find all sorts of information about dungeons and dragons. </h2>
        <h6>Click on a book to purchase the books you need. </h6>
    <br>
    <br>
    <div class="frontImages">
        <a class="bookimage" href="https://www.amazon.ca/Dungeons-Dragons-Rpg-Players-Handbook/dp/0786969512/"><img src="./images/playersHandbook.jpg" width =300></a>
        <a class="bookimage" href="https://www.amazon.ca/Dungeons-Dragons-Rpg-Dungeon-Masters/dp/0786969520/"><img src="./images/dungeonMasters.jpg" width =300></a>
        <a class="bookimage" href="https://www.amazon.ca/Dungeons-Dragons-Rpg-Monster-Manual/dp/0786969547/"><img src="./images/monsterManual.jpg" width =300></a>
<br>
    </div>
<!-- Quote of the Day -->
    <br>
    <P class="quoteOfTheDay"><%= greet %></P>
    <br>
    </div>

    <%- include('includes/footer.ejs') %>
   