<%- include('includes/layout.ejs') %>

<h1> Welcome to the Student Registration System</h1>
<p> Click below to register:</p>
<a href="/register" class="btn btn-primary">Register Now</a>
<a href="/allusers" class="btn btn-primary">See All Users</a>

    
</body>
</html>