extends layout

block content
  h1 Welcome to the Student Registration System
  p Click below to register:
  a(href="/register" class="btn btn-primary") Register Now
  a(href="/allusers" class="btn btn-primary") See All Users