<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page in EJS</title>
</head>
<body>
    <ul>
        <!-- Outputs a value using < %=  %> as js script-->
        <% contacts.forEach(con => { %>
            <li><%= con.fname+" "+con.lname+" : "+ con.phone %></li>
        <% }) %>
       
    </ul>
    
</body>
</html>