doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title #{titlepage}
h1 Thank you for submitting! This is your name: 
h4 #{personName}
